<footer>
  <div class="main-content">

    <div class="left box">
      <h2>Redes Sociales</h2>
      <div class="content">
        <div class="social">
          <a class="space" href="https://www.facebook.com/profile.php?id=100023993812703" target="_blank"><span class="blue fab fa-facebook-f"></span></a>

          <a class="space" href="https://wa.me/18093962627" target="_blank"><span class="green fab fa-whatsapp"></span></a>

          <a class="space" href="https://instagram.com" target="_blank"><span class="insta fab fa-instagram"></span></a>
          <br><br><br>
          <a class="space" href="https://youtube.com" target="_blank"><span class="fab fa-youtube"></span></a>

          <a class="space"
            href="https://www.google.com/maps/place/Industrial+San+Pedro/@18.4615625,-69.2835625,17z/data=!4m13!1m7!3m6!1s0x0:0x0!2s77CGFP68%2BJH!3b1!8m2!3d18.4615625!4d-69.2835625!3m4!1s0x8eaf5e1f1e941eb3:0xf35f963ff2ebf844!8m2!3d18.461531!4d-69.2837026"
            target="_blank"><span class="black fa fa-road" aria-hidden="true"></span></a>
        </div>
      </div>
    </div>

    <div class="center box">
      <h2>Nuestra Ubicacion</h2>
      <div class="content">
        <div class="place">
        <a href="https://www.google.com/maps/place/Industrial+San+Pedro/@18.4615625,-69.2835625,17z/data=!4m13!1m7!3m6!1s0x0:0x0!2s77CGFP68%2BJH!3b1!8m2!3d18.4615625!4d-69.2835625!3m4!1s0x8eaf5e1f1e941eb3:0xf35f963ff2ebf844!8m2!3d18.461531!4d-69.2837026"
         target="_blank"><span class="fas fa-map-marker-alt"></span></a>  
          <span class="text"> Salida hacia la romana Km. ½, #14 frente a la Urba. Garden, próximo a los Bomberos, S.P.
            Macorís. </span>
        </div>
        <div class="phone">
          <span class="fas fa-phone-alt"></span>
          <span class="text"><a href="tel:8093398783"> (809) 339-8783 </a></span>
          <br>
          <span class="text ml"><a href="tel:8093962627"> (809) 396-2627</a></span>
        </div>
        <div class="email">
          <span class="fas fa-envelope"></span>
          <span class="text"> <a href="mailto:BlockIndustrialSPM@outlook.com">
            BlockIndustrialSPM@outlook.com</a></span>
        </div>
      </div>
    </div>

    <div class="center box">
      <h2>Empresa</h2>
      <div class="content">
        <div class="place">
          <a [routerLink]="['/contactanos']"><span class="fas fa-address-book"></span></a>
          <a [routerLink]="['/contactanos']"> <span class="text">Contactanos</span></a>
        </div>
        <div class="phone">
          <a [routerLink]="['/nosotros']"><span class="fas fa-info-circle" aria-hidden="true"></span></a>
          <a [routerLink]="['/nosotros']"><span class="text">Sobre Nosotros</span></a>
        </div>
        <div class="email">
          <span class="fas fa-door-open"></span>
          <span class="text">
            Abierto
            <br>
            <p class=" texto">Lunes a Sabados 7:00am - 7:00pm</p>
            <p class="texto">Domingos 7:00am - 2:00pm</p>
          </span>
        </div>
      </div>

    </div>
  </div>

  <div class="bottom">
    <div class="center">
      <span class="credit">Created By
        Shaleen H. Y Block Industrial SP

      </span>
      <span class="far fa-copyright"></span><span>
        | 2021 All rights reserved.</span>
    </div>
  </div>
</footer>
