<header id="main-header" class="py-2 bgo text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>
          Nosotros
        </h1>
      </div>
    </div>
  </div>
</header>

<i class="fa fa-usb" aria-hidden="true"></i>

<div class="container cuadro dfooter">
  <div class="card">

    <div class="card-body animated fadeIn fast">
      <h3 class="card-title">Nuestra Historia</h3>
      <br>
      <p class="card-text texts">
        "Block Industrial San Pedro" fue fundada en el año 2010 en San Pedro de
        Macorís (República Dominicana) situada en la salida hacia la romana Km. ½, #14 frente a la Urba. Garden, próximo
        a los Bomberos, S.P. Macorís.

      </p>

      <p class="card-text texts">

       
          
      </p>

      <p class="card-text texts">

       
          
      </p>
      <h3 class="card-title">Misión</h3>
      <br>
      
      <p class="card-text texts">

        Somos una empresa dedicada a la comercialización de productos ferreteros de primera calidad en San Pedro de
        Macorís, nuestro propósito es satisfacer las necesidades de nuestros clientes, a través de las ventas con los
        precios más competitivos del mercado.

      </p>
      
      <h3 class="card-title">Visión</h3>
      <br>
      <p class="card-text texts">

        Convertirnos en una empresa líder a nivel nacional con grandes expectativas de cambio en la formación del
        capital del trabajo y con la capacidad de cubrir completamente el mercado de los productos ferreteros
        posicionando pequeñas sucursales y ventas por internet que brinden un mejor servicio que la competencia.


      </p>
    </div>
  </div>
</div>
