


.cap{
    text-transform: capitalize;
}



@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

*{
	font-family: 'Quicksand', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

.container{

	margin: auto;
	
}

.texcar{
    margin: 40px;
}

.fo{
	margin-bottom: 30px;
}

.container h1{
	margin:auto;
}
.cart1{
	margin: auto;
}

.container > h1{
	padding: 20px 0;

}

.cart1{
	justify-items: center;
	width: 99%;

}

.products{
	width: 100%;
}

.product{
	display: flex;
	width: 98%;
	overflow: hidden;
	border: 0px solid silver;
	border-radius: 10px;
	margin-bottom: 20px;
	transition: 0.4s ease;

}

.product > img{
	width: 350px;
	height: 250px;

}


.product-info{
	padding: 20px;
	width: 100%;
	position: relative;

}

.product-name, .product-price, .product-offer{
	margin-bottom: 20px;
	text-transform: capitalize;
}


.product-remove{
	float: right;
	padding: 10px 25px;
	background-color: rgba(255, 45, 45, 0.918);
	color: white;
	cursor: pointer;
	border-radius: 5px;
	text-decoration: none;

}
.product-remove:hover{
	background-color: white;
	color: red;
	font-weight: 600;
	border: 1px solid red;

}

.product-remove1{
	position: absolute;
	bottom: 90px;
	right: 20px;
	padding: 10px 25px;
	background-color: rgba(255, 121, 11, 0.918);
	color: white;
	cursor: pointer;
	border-radius: 5px;
	text-decoration: none;

}
.product-remove1:hover{
	background-color: white;
	color: rgb(255, 123, 0);
	font-weight: 600;
	border: 1px solid rgb(255, 123, 0);

}

.product-quantity > input{
	width: 70px;
	padding: 5px;
	text-align: center;

}

.totales{
	width: 65%;
}

.cart-total{
	margin-left: 250px;
	
	padding: 15px;
	border-radius: 5px;

}

.cart-total p{
	display: flex;
	margin-bottom: 30px;
	font-size: 20px;

}

.cart-total a{
	display: block;
	text-align: center;
	margin: 5px;
	height: 40px;
	line-height: 40px;
	background-color: #ff6600ec;
	color: white;
	text-decoration: none;
	border-radius: 10px;

}

.cart-total a:hover{
	background-color: white;
	border: 1px solid #ff6600ec;
	color: #ff6600ec;

}


@media screen and (max-width: 700px){

/*	.remove{
		display: none;

	}

	.product{
		

	}*/

	.product > img{
		height: 150px;
		width: 200px;

	}

	.product-name, .product-price, .product-offer{
		margin-bottom: 10px;

	}

}

@media screen and (max-width: 900px){

	.cart{
		flex-direction: column;

	}

	.cart-total{
		margin-left: 0;
		margin-bottom: 20px;
	}

}

@media screen and (max-width: 1220px){

	.container{
		max-width: 95%;

	}

}














