
    <div class="container">
      <div class="row">
        <div class="col-75">
          <div class="container">
            <form action="" [formGroup]="addPayment" (ngSubmit)="paymentInfo()">
      
              <div class="row">
                <div class="col-50">
                  <input type="hidden" class="form-control" name="uid" [(ngModel)]="uidUser" formControlName="uids" placeholder="ID">
                  <h3>Billing Address</h3>
                  <label for="fname"><i class="fa fa-user"></i> Nombre Completo</label>
                  <input type="text" formControlName="nombre" id="fname" name="firstname" placeholder="">
                  <label for="email"><i class="fa fa-envelope"></i> Email</label>
                  <input type="text" formControlName="email" id="email" name="email" placeholder="">
                  <label for="adr"><i class="fa fa-address-card-o"></i> Dirrecion Calle</label>
                  <input type="text" formControlName="direccion" id="adr" name="address" placeholder="">
                  <label for="city"><i class="fa fa-institution"></i> Ciudad</label>
                  <input type="text" formControlName="ciudad" id="city" name="city" placeholder="">
      
                  <div class="row">
                    <div class="col-50">
                      <label for="state">Pueblo</label>
                      <input type="text" formControlName="pueblo" id="state" name="state" placeholder="">
                    </div>
                    <div class="col-50">
                      <label for="zip">Zip</label>
                      <input type="text" formControlName="codigozip" id="zip" name="zip" placeholder="SPM: 21000">
                    </div>
                  </div>
                </div>
      
                <div class="col-50">
                  <h3>Payment</h3>
                  <label for="fname">Accepted Cards</label>
                  <div class="icon-container">
                    <img src="../../../assets/vi.png" width="50px" alt="visa">
                    <img src="../../../assets/mc.png" width="50px" alt="MasterCard">
                   <!-- <i class="fab fa-cc-visa" style="color:navy;"></i>
                    <i class="fab fa-cc-mastercard" style="color:red;"></i>
                    <i class="fab fa-cc-amex" style="color:blue;"></i>
                    <i class="fab fa-cc-discover" style="color:orange;"></i>-->
                  </div>
                  <label for="cname">Name on Card</label>
                  <input type="text" formControlName="namecard" id="cname" name="cardname" placeholder="">
                  <label for="ccnum">Credit card number</label>
                  <input type="number" formControlName="cardnumber" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
                  <label for="expmonth">Exp Month</label>
                  <input type="number" formControlName="mescard" id="expmonth" name="expmonth" placeholder="08">
      
                  <div class="row">
                    <div class="col-50">
                      <label for="expyear">Exp Year</label>
                      <input type="number" formControlName="añocard" id="expyear" name="expyear" placeholder="2021">
                    </div>
                    <div class="col-50">
                      <label for="cvv">CVV</label>
                      <input type="number" formControlName="cvv" maxlength="3" max="3" id="cvv" name="cvv" placeholder="">
                    </div>
                  </div>
                </div>
      
              </div>
              <label>
                <input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
              </label>
              <input type="submit" [disabled]="btnDisabled" value="Continue el Pago" class="btn">
            </form>
          </div>
        </div>
      
        <div class="col-25">
          <div class="container">
            <h4>Cart
              <span class="price" style="color:black">
                <i class="fa fa-shopping-cart"></i>
                <b>{{OrdenOnline.orden.length}}</b>
              </span>
            </h4>
            
            <small>Orden: {{OrdenOnline.ordenNum}}</small>
            <hr>
            <div *ngFor="let orden of OrdenOnline.orden">
            <div >

              <p><strong>{{orden.cantidad}} </strong> {{orden.producto.producto}}<span class="price">{{orden.subTotal|currency}}</span></p>

            </div>
          </div>
            <hr>
            <p>Total <span class="price" style="color:black"><b> {{OrdenOnline.total|currency}} </b></span></p>
          </div>
        </div>
      </div>
    </div>
